@model IEnumerable<StockApp.Core.Stock>

@{
    ViewData["Title"] = "Stock Menu";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="select-message">
    <p>Please select a stock.</p>
</div>

<ul class="stock-exchange-list" ">
    @foreach (var stock in Model)
    {
        <li><a href="@Url.Action("StockDetails", "Stock", new { stockCode = stock.Code })">@stock.StockName</a></li>
    }
    <h1> </h1>
    <a href="@Url.Action("Index", "Stock")" class="back-link"> < Back to Home Menu</a>
</ul>

