/* Stil general pentru text */
body {
    color: white; /* Setează culoarea textului la alb pentru toată aplicația */
}


/* Stilizare pentru întreaga casuță de chat */
.chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Stilizare pentru imaginea capului de robot */
.robot-head {
    width: 50px;
    height: 50px;
    margin-left: 10px; /* Adaugă un mic spațiu între text și capul robotului */
}

.select-message {
    font-size: 1rem;
    color: #007bff; /* Setează culoarea textului */
    margin: 0; /* Elimină marginea implicită */
    display: flex;
    align-items: center; /* Aliniază textul și imaginea pe centrul vertical */
}

/* Stil pentru titlul "Select a Stock Exchange" */
.chat-message p {
    color: #007bff; /* Setează culoarea la aceeași nuanță de albastru ca și robotul */
    font-size: 1.25rem; /* O mărime puțin mai mare pentru titlu */
    font-weight: bold;
    margin-bottom: 20px; /* Spațiu între titlu și restul conținutului */
}


.stock-exchange-list a {
    text-decoration: none;
    color: white; /* Setează culoarea textului la alb */
    font-weight: bold;
}

    .stock-exchange-list a:hover {
        text-decoration: underline;
        color: #007bff; /* Schimbă culoarea la hover pentru a se potrivi cu robotul */
    }
