<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="chat-container">
        <header>
            <div class="header-content">
                <img src="~/images/robot-head.png" alt="Robot Head" class="robot-head" />
                <p class="welcome-message">@ViewBag.Message</p>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
